In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df.head()

,ad_id,reporting_start,reporting_end,campaign_id,fb_campaign_id,age,gender,interest1,interest2,interest3,impressions,clicks,spent,total_conversion,approved_conversion
0,708746,17/08/2017,17/08/2017,916,103916,30-34,M,15,17,17,7350.0,1,1.43,2.0,1.0
1,708749,17/08/2017,17/08/2017,916,103917,30-34,M,16,19,21,17861.0,2,1.82,2.0,0.0
2,708771,17/08/2017,17/08/2017,916,103920,30-34,M,20,25,22,693.0,0,0.00,1.0,0.0
3,708815,30/08/2017,30/08/2017,916,103928,30-34,M,28,32,32,4259.0,1,1.25,1.0,0.0
4,708818,17/08/2017,17/08/2017,916,103928,30-34,M,28,33,32,4133.0,1,1.29,1.0,1.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1143 entries, 0 to 1142
Data columns (total 15 columns):
ad_id                  1143 non-null int64
reporting_start        1143 non-null object
reporting_end          1143 non-null object
campaign_id            1143 non-null object
fb_campaign_id         1143 non-null object
age                    1143 non-null object
gender                 1143 non-null object
interest1              1143 non-null int64
interest2              1143 non-null int64
interest3              1143 non-null int64
impressions            1143 non-null float64
clicks                 1143 non-null int64
spent                  1143 non-null float64
total_conversion       761 non-null float64
approved_conversion    761 non-null float64
dtypes: float64(4), int64(5), object(6)
memory usage: 134.0+ KB

In [5]:
len(df)

1143

In [6]:
len(df.query('reporting_start != reporting_end'))

0

In [8]:
df = df[['ad_id', 'reporting_start', 'campaign_id', 'fb_campaign_id', 'age', 'gender', 'interest1', 'interest2', 'interest3', 'impressions', 'clicks', 'spent', 'total_conversion', 'approved_conversion']]

In [9]:
df.columns = ['ad_id', 'date', 'campaign_id', 'fb_campaign_id', 'age', 'gender', 'i1', 'i2', 'i3', 'impression', 'click', 'spent', 'total_conversion', 'approved_conversion']

In [10]:
df.date = pd.to_datetime(df.date)

A:\Anaconda3\lib\site-packages\pandas\core\generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value